html,
body {
    margin: 20px;
    height: calc(100% - 40px);
    background-color: #266352;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: solid 5px #F7DB6A;
    background: #53c0a2;
}

body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: repeat(4, 8.33% 8.33% 8.33%);
    grid-template-columns: repeat(4, 8.33% 8.33%);
    grid-template-columns: 200px 20% 1fr;

    grid-template-columns: 3fr 6fr 3fr;

}